@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

html{
    height: 100%;
    font-family: "Montserrat", sans-serif;
}
body{
    background-image: url(media/background_test.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  
}
main{
  margin-top: 50%;
}
.estrellas{
    display: flex;
    justify-content: center;
    align-items: center;
}

p, h3{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #d9ba93;
    font-size: 150%;
    font-weight: bold;
}
.logo{
  width: 30%;
  border-radius: 10%;
}
footer{
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  margin-bottom: 10%;
}
p{
  margin: 0%;
}
label{
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #d9ba93;
  font-weight: bold;
}
.form{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  margin-top: 20px;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
textarea{
  margin-top: 10px;
}
button{
background-color:#d9ba93 ;
padding: 10px 20px;
border: none;
border-radius: 5px;
margin-top: 10px;
color: white;
font-weight: bold;

}

/* STYLE RATING STARS */


fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }


.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #e4ceb4;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #e4ceb4;  } 